/Patolli_GUI/dist/
/Patolli_Dominio/Patolli_Dominio/nbproject/private/
/Patolli_GAME/Patolli_Game/nbproject/private/
/Patolli_Dominio/Patolli_Dominio/build/
/Patolli_GAME/Patolli_Game/build/
/Patolli_Dominio/dist/
/Patolli_GAME/dist/
/Patolli_GAME/EjemploP2P/nbproject/private/
/Patolli_GAME/EjemploP2P/build/
/Patolli_GAME/P2PExposicion/nbproject/private/
/Patolli_GAME/P2PExposicion/build/
/Patolli_GAME/P2PExposicionCliente/nbproject/private/
/Patolli_GAME/ExposicionP2P/nbproject/private/
/Patolli_GAME/ExposicionNodo/nbproject/private/
/Patolli_GAME/P2PExposicionCliente/build/
/Patolli_GAME/ExposicionP2P/build/
/Patolli_GAME/P2PExposicionCliente/dist/
/Patolli_GAME/P2PExposicion/dist/
/Patolli_GAME/ExposicionP2P/dist/
/Patolli_GAME/prueba_unitarias1_00000204270/nbproject/private/
/Patolli_GAME/prueba_unitarias1_00000204270/build/
/Patolli_Filters/nbproject/private/
/ejemplo_selenium/nbproject/private/
/ejemplo_selenium/build/
/Patolli_Filters/build/